{% extends 'base.html' %}
{% load static %}

{% block page_content %}


{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shoping Cart</title>
	<meta charset="UTF-8">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.11/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.11/js/select2.min.js"></script>
</head>

<style type="text/css">
		span {cursor:pointer; }
		
		.minus, .plus{
			width:30px;
			height:38px;
			background: #8080ff;
			border-radius:4px;
			padding:8px 5px 8px 5px;
			border:1px solid #262323;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color:black;
		}
		input{
			height:40px;
      width: 80px;
      text-align: center;
      font-size: 26px;
			border:5px solid #2f2626;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
		}	
</style>
		
	<body>
				<script type="text/javascript">

			$(document).ready(function() {
    			$('.js-example-basic-single').select2();
			});
			$(document).ready(function() {


			$('.minus').click(function () {
				var $input = $(this).parent().find('input');
				var count = parseInt($input.val()) - 1;
				count = count < 0 ? 0 : count;
				$input.val(count);
				$input.change();
				return false;
			});
			$('.plus').click(function () {
				var $input = $(this).parent().find('input');
				$input.val(parseInt($input.val()) + 1);
				$input.change();
				return false;
			});
			document.getElementById('id_item').onchange = function(){
			var select = document.getElementById('id_item');
			var selectval = select.options[select.selectedIndex].value;
			console.log(selectval);
			for(var i=0; i<details.length;i++){
				if(details[i].itemname == selectval){
					document.getElementById('item_name').innerText = details[i].itemname;
					document.getElementById('item_price').innerText = details[i].price;
					document.getElementById('item_brand').innerText = details[i].brand_name;
				}
			}
		}
		});	

		var details = [

			{% for item in items %}
				{
					'itemname': '{{item.item_name}}',
					'price': '{{item.price}}',
					'brand_name':'{{item.brand}}'
				},
			{% endfor %}

		];
	

	</script>


<div class="jumbotron" style="background-color:#a3c2c2">
	<h1 style="font-family: 'Cormorant', serif;"><br><center>Order Now</center></h1>
    
</div>
 {% if messages %}

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="padding: 1%;text-align: center">
        <strong>{{ message }}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}



{% endif %}
	<form class=" form-signin p-b-30" onsubmit="names.disabled = true; return true" method="POST" >
		 {% csrf_token %}

		 <div class="form-group" style="visibility:hidden">
             
                 {% render_field form.flat_number  type="text" class="form-control" placeholder="flat"%}
                {% render_field form.author  type="text" class="form-control" placeholder="flat"%}
              <!--    <input name="author" value={{current_user}}> -->
              </div>






  
		<div class="container" >
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart table-responsive" style="overflow:scroll;">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2">Brand</th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									
								
								</tr>

								<tr class="table_row">
									<td class="column-1">
										<!-- <div class="scrollable">
											{% render_field form.item  type="text" class="form-control" placeholder="aut"  %}
										</div> -->
										<select class="js-example-basic-single form-control" id="id_item" name="item">
											{% for item in items %}
											<option value="{{item}}" >{{item}}</option>
											{% endfor %}
										</select>
									</td>
									<td class="column-2"><p id='item_brand'></p></td>
									<td class="column-3">	<p id="item_price"></p></td>
									<td class="column-4">
									 <span class="minus">-</span>
					<input  name="quantity" value="0"/>
					
					<span class="plus" onclick="document.getElementById('b').style.visibility='visible'">+</span>
                
          </div>
									</td>
								
								</tr>

								
									
								
							</table>
						</div>



							<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"  type="submit"  name="names" value="Submit" style="visibility:hidden" id="b">
							Place Order
						</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</form>



















	<div>
		<p id="item_name"></p>
		<p id="item_price"></p>
		<p id='item_brand'></p>
	</div>
		
		
	
		



</body>
</html>



{% endblock %}