{% extends 'base.html' %}
{% load static %}

{% block page_content %}


{% load widget_tweaks %}


<head>
  <title>service</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %}" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
 </head>
<body>

<div class="jumbotron" style="background-color:#a3c2c2">
	<h1 style="font-family: 'Cormorant', serif;"><br><center>ORDERED ITEMS</center></h1>
    <!-- <hr>
    <h3><a class="btn btn-primary  pl " href="/req" style="float:left">BACK</a></h3> -->
</div>
<div class="container-fluid" style="padding-left: 10%;padding-right: 10%;overflow:hidden">



<div class="row">
  <div class="col-md-3">&nbsp</div>



<div class="card p-3" style="width:50%">
<table class="table table-bordered table-striped table-hover table-responsive" style="border-width: 10px">

  <div class="row pl" >
    
      <tbody>
    
    
  {% for order in object_list %}
    
      
        
          
          <tr>
                <td > 
                <b> Item : </b> {{ order.t }}</td>
                <td>

                <b>Quantity: </b>  {{ order.qu }}
    
                       
                    
               </td>
              
           </tr> 

        
      
    {% endfor %}  
    
    
</tbody>
  </div></table></div>






  <div class="col-md-2"></div>
	{% endblock %}