{% extends 'base.html' %}
{% load static %}

{% block page_content %}


{% load widget_tweaks %}


<head>
  <title>service</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %}" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
 </head>
<body>

<div class="jumbotron" style="background-color:#a3c2c2">
	<h1 style="font-family: 'Cormorant', serif;"><br><center>ORDERED ITEMS</center></h1>
    <!-- <hr>
    <h3><a class="btn btn-primary  pl " href="/req" style="float:left">BACK</a></h3> -->
</div>
<div class="container-fluid" style="padding-left: 10%;padding-right: 10%;overflow:hidden">



<div class="row">
  <div class="col-md-3">&nbsp</div>



<div class="card p-3" style="width:50%">
<table class="table table-bordered table-striped table-hover table-responsive" style="border-width: 10px">

  <div class="row pl" >
    
      <tbody>
    <script type="text/javascript">
      var t =0
    </script>
     <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th style="color:green;margin-left: 30px;">Final Bill</th>
  </tr>
  {% for order in object_list %}
      {% if order.quantity %}
      
        
          
          <tr>
                <td > 
               {{ order.item }}</td>
                <td>

                {{ order.quantity }}

              <td >
                <b id="{{forloop.counter0}}" > </b>  
              </td>
              <td >
                <b id="so" style="color:green"> </b>  
              </td>
                       
              <script>
                  var x = {{ order.item.price }};
                  var y = {{ order.quantity }};
                  var z = x * y;
                  var t = z+t
                  document.getElementById("{{forloop.counter0}}").innerHTML = z;
                  document.getElementById("so").innerHTML = t;
              </script>           
             
              
           </tr> 

        {% endif %}
      
    {% endfor %}  
                  
               <!--  <b id="so"> </b>   -->
            
    
</tbody>
  </div></table></div>






  <div class="col-md-2"></div>
	{% endblock %}