{% extends "base3.html" %}




{% load static %}

{% block page_content %}


<body>



<div class="jumbotron" style="background-color:#a3c2c2">
	<h1 style="font-family: 'Cormorant', serif;"><br><center>ORDERED ITEMS</center></h1>
    
    <!-- <h3><center><a class="btn btn-primary  pl " href="/shop" style="float:left">BACK</a></center></h3> -->
</div>
<div class="container-fluid" style="padding-left: 10%;padding-right: 10%;">
<div class="card p-3">

<table class="table table-bordered table-striped table-hover table-responsive" style="border-width: 10px">

  <div class="row pl" >
    
      <tbody>
    <!-- <script type="text/javascript">
      var t =0
    </script> -->
     <tr>
    <!-- <th>Time</th> -->
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Flat Number</th>
    <th>Date</th>
   <!--  <th>Total Bill </th> -->
  </tr>
  {% for order in object_list %}
      {% if order.quantity %}
      
        
          
          <tr>
                <td > 
               {{ order.item }}</td>
                <td>

                {{ order.quantity }}

              <td >
                <b id="{{forloop.counter0}}"> </b>  
              </td>
             
                       
              <script>
                  var x = {{ order.item.price }};
                  var y = {{ order.quantity }};
                  var z = x * y;
                  // var t = z+t
                  document.getElementById("{{forloop.counter0}}").innerHTML = z;
                  // document.getElementById("so").innerHTML = t;
              </script>           
              <td > 
               {{ order.flat_number }}</td>
              <td > 
               {{ order.time1 }}</td>
               
           </tr> 

        {% endif %}
      
    {% endfor %}  
                  
                <!-- <b id="so"> </b>   -->
            
    
</tbody>
  </div></table>


</div></div>

      </body>
      {% endblock %}